<div class="container-fluid" *ngIf="employeeDetails">
  <div class="row">
    <div class="col-3">
      <app-employee-details [employeeDetails]="employeeDetails"></app-employee-details>
    </div>
    <div class="col-8">
      <app-employee-projects [employeeDetails]="employeeDetails"></app-employee-projects>
    </div>
  </div>
</div>