<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#" [routerLink]="'/home'">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32877/logo-thing.png" width="70" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-expand-sm navbar-collapse btn-group" id="navbarMenu">
    <ul *ngIf="loggedUserData" class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/home'">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/projects'">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/employees'">Employees</a>
      </li>
      <li *ngIf="loggedUserData.role === 'ADMIN'" class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'/skills'">Skills</a>
      </li>
    </ul>
    <div *ngIf="loggedUserData" class="custom row nav-item ml-5">
      <p><span class="greetMsgTxt">Hello, {{ this.firstName }}!</span></p>
    </div>
    <ul *ngIf="loggedUserData" class="navbar-nav">
      <li class="nav-item active dropdown">
        <a id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle ml-5 mr-3">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="this.navigateToProfile()">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="this.logout()">Logout</a>
        </div>
      </li>
      <li class="nav-item active"></li>
    </ul>
  </div>
</nav>