<div class="container-fluid">
  <h5>Today’s Work</h5>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Project Name:</th>
        <th scope="col">Description:</th>
        <th scope="col">Status:</th>
        <th scope="col">StartedOn:</th>
        <th scope="col">Target to complete (in days):</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project  of currentProjects">
        <td> {{ project.name }} </td>
        <td> {{ project.description }} </td>
        <td> {{ project.status }} </td>
        <td> {{ project.startDate }} </td>
        <td> {{ project.targetInDays }}</td>
        <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit"
            (click)="this.navigateToProject(this.project.id)">View</button></td>
      </tr>
    </tbody>
  </table>
</div>