<div class="col-8 card my-3 ml-3">
  <div class="my-3">
    <h5>Employee Details:</h5>
  </div>

  <ul class="list-group card-body">
    <li class="list-group-item">
      first name: <b>{{ employeeDetails.firstName }}</b>
    </li>
    <li class="list-group-item">surname: <b>{{ employeeDetails.surname }}</b></li>
    <li class="list-group-item">position: <b>{{ employeeDetails.position }}</b></li>
    <li class="list-group-item">direct manager: <b>{{ directManager }}</b></li>
  </ul>
</div>


<div class="col-8 card my-3 ml-3">
  <div class="my-3">
    <h5>Skills:</h5>
  </div>

  <ul *ngFor="let skill of employeeDetails.skills" class="list-group card-body">
    <li class="list-group-item">
      <b><a (click)="filterBySkill(this.skill.skill)">{{ skill.skill }}</a></b>
    </li>
  </ul>
</div>