<div class="row">
  <ul class="cow" *ngFor="let skill of skillsList">
    <li class="list-group-item list-group-item-light my-1">
      <a (click)="filterBySkill(this.skill.skill)">{{ skill.skill }}</a>
    </li>
  </ul>
</div>