<div class="cotainer-fluid">
  <div class="card ml-3 mb-3" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Your Active Projects:
      </h5>
      <form class="form-inline my-2 my-lg-0">
        <input [(ngModel)]="this.keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
          aria-label="Search" name="search" с>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="resetFilter()">
            Projects Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="setToKeyword()">by Keyword</a>
            <a class="dropdown-item" (click)="setToStatus()">by Status</a>
            <a class="dropdown-item" (click)="setToSkill()">by Skill</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name:</th>
          <th scope="col">Description:</th>
          <th scope="col">status:</th>
          <th scope="col">startedOn:</th>
          <th scope="col">Target To Complete (in days):</th>
          <th scope="col">Total Management Time:</th>
          <th scope="col">Daily Input:</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="this.filterProjectsByKeyword">
        <tr *ngFor="let project of this.filterProjectsByKeyword; let i = index">
          <td> {{ project.name}} </td>
          <td> {{ project.description}} </td>
          <td> {{ project.status }} </td>
          <td> {{ project.startDate}} </td>
          <td> {{ project.targetInDays }}</td>
          <td> {{ project.activities[0].hours}}</td>
          <td> {{project.activities[0].members[0].hours}} </td>
          <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit"
              [routerLink]="['/projects', this.currentActiveProjects[i].id]">View</button></td>
          <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit"
              [routerLink]="['/projects/new', this.currentActiveProjects[i].id]">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>