<!-- LIST GENERAL PROJECT INFORMATION -->

<div class="container-fluid">
  <h3>General project details:</h3>
  <div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name:</th>
          <th scope="col">Description:</th>
          <th scope="col">Status:</th>
          <th scope="col">Started On:</th>
          <th scope="col">Target:</th>
          <th scope="col">Completion Estimate:</th>
          <th scope="col">Within Target:</th>
          <th scope="col">Project Reporter</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="this.currentProject">
          <td> {{ currentProject?.name }} </td>
          <td> {{ currentProject.description }} </td>
          <td> {{ currentProject.status }} </td>
          <td> {{ currentProject.startDate }} </td>
          <td>{{ currentProject.targetInDays }} days</td>
          <td>{{estimatedTarget}} days</td>
          <td>{{withinTarget}}</td>
          <td> <b>{{ reportingManager.firstName }} {{ reportingManager.surname }}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- LIST SKILLS AND TOTAL HOURS PER SKILL -->

<div class="ml-3">
  <div class="row">
    <div class="col-5">
      <h3>Project skills:</h3>
      <table *ngIf="this.currentProject" class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Skill:</th>
            <th scope="col">Total Hours:</th>
            <th scope="col">Hours Left:</th>
            <th scope="col">Days To Complete:</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of currentProject.activities; let i = index">
            <td>{{activity.skill.skill}}</td>
            <td>{{activity.hours}}</td>
            <td>{{hoursLeft[i]}}</td>
            <td>{{daysLeft[i]}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- LIST EMPLOYEES AND DAILY INPUT -->

    <div class="col-3">
      <h3>Project members:</h3>
      <table *ngIf="this.currentProject" class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Empoyee:</th>
            <th scope="col">Skill:</th>
            <th scope="col">Daily Input:</th>
          </tr>
        </thead>
        <tbody *ngFor="let activity of currentProject.activities">
          <tr *ngFor="let member of activity.members">
            <td *ngIf="member.endDate === null">{{ member.user.firstName }} {{ member.user.surname }}</td>
            <td *ngIf="member.endDate === null">{{ activity.skill.skill }}</td>
            <td *ngIf="member.endDate === null">{{ member.hours }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div
    *ngIf="currentProject && currentProject.activities[0].members[0] && this.loggedUserId === currentProject.activities[0].members[0].user.id">
    <button class="ml-3 mr-3 btn btn-outline-success my-2 my-sm-0 "
      (click)="this.stopProject(this.projectId)">Stop</button>
    <button class="btn btn-outline-success my-2 my-sm-0 "
      (click)="this.markAsCompleted(this.projectId)">Complete</button>
  </div>
</div>