<div class="cotainer-fluid">
  <div class="user-details">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Profile details: <img class="card-img-top"
            src="https://i.pinimg.com/originals/0a/a8/b2/0aa8b23848189c84102d6365bad3ae51.jpg" alt="Card image cap">
        </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">first name: <b>{{this.firstName}}</b></li>
        <li class="list-group-item">surname: <b>{{this.surname}}</b></li>
        <li class="list-group-item">position: <b>{{this.position}}</b></li>
        <li class="list-group-item">direct manager: <b>{{this.directManager}}</b></li>
      </ul>
    </div>
  </div>
</div>