<div class="container-fluid">
  <h5>{{ header }}</h5>
  <table class="table table-sm table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name:</th>
        <th scope="col">Surname:</th>
        <th scope="col">Email:</th>
        <th scope="col">Position:</th>
        <th scope="col">Role:</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.surname }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.role }}</td>
        <td>
          <button *ngIf="employee.role === 'BASIC' && loggedUser.role === 'ADMIN'" type="button"
            class="btn btn-outline-success my-2 my-sm-0" (click)="this.navigateToEmployeeForm(this.employee.id)">
            Edit
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-success my-2 my-sm-0"
            (click)="this.navigateToProfile(this.employee.id)">
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>