<div class="container-fluid">
  <div class="row m-3">
    <div class="col-2">
      <app-logged-user-details></app-logged-user-details>
    </div>
    <div class="col-7">
      <app-manager-active-projects></app-manager-active-projects>
    </div>

  </div>
  <hr>
  <div class="row m-3">
    <app-manager-subordinates></app-manager-subordinates>
  </div>
</div>