<div class="container-fluid">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Subordinates:
      </h5>
    </div>
  </div>

  <hr>

  <div class="card" style="width: 18rem;">
    <div>
      <ul *ngFor="let subordinate of this.subordinates" class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ subordinate.firstName }} {{ subordinate.surname }}
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
            (click)="this.navigateToProfile(subordinate.id)">View Profile</button>
        </li>
      </ul>
    </div>
  </div>