<div class="col-4">
  <div class="input-group mb-3">
    <input style="max-width: 290px;" #skillNameInput type="text" class="form-control mr-3 ml-3" placeholder="Skill Name"
      aria-describedby="button-addon2" />
  </div>
  <div class="input-group-append ml-3 mt-3 rounded row">
    <button class="btn btn-outline-success my-sm-0" type="button" id="button-addon2"
      (click)="addNewSkill(skillNameInput.value)" (click)="skillNameInput.value = ''">
      Add New Skill
    </button>
  </div>
</div>