.container-fluid {
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.baddge-output {
  font-size: 20px;
}

.alertError {
  color: red;
}

.alertSuccess {
  color: green;
}

.alertCaution {
  color: yellow;
}
