<div style="margin-top: 20px;" class="text-left">

  <!-- BEGIN FORM -->

  <form [formGroup]="this.createProjectForm" class="mx-5">

    <!-- NAME -->
    <div class="" style="width:300px">
      <div class="form-group">
        <label class="sr-only" for="inlineFormInputName2 ">Name:</label>
        <input type="text " class="form-control" id="inlineFormInputName2 " placeholder="Project name... "
          formControlName="name">
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="">
      <div class="form-group" style="width:300px">
        <label class="sr-only" for="inlineFormInputName2 ">Description:</label>
        <input type="text " class="form-control" id="inlineFormInputName2 " placeholder="Description... "
          formControlName="description">
      </div>
    </div>

    <!-- PROJECT TOTAL TIME IN DAYS -->

    <div class="">
      <div class="form-group" style="width:300px">
        <label class="sr-only" for="inlineFormInputName2 ">Project Total Time:</label>
        <input min="0 " type="number " class="form-control" id="inlineFormInputName2 " placeholder="Days to complete..."
          formControlName="targetInDays">
      </div>
    </div>

    <div class="">
      <div class="form-group">
        <button class="btn btn-outline-success" (click)="addActivity()">Add
          activity</button>
      </div>
    </div>

    <!-- 
        ACTIVITIES ARRAY BEGINS HERE!
        -->
    <div formArrayName="activities">
      <div *ngFor="let group of activitiesArray.controls; let i = index" [formGroupName]="i"
        class="border rounded my-3 p-3">
        <div class="mb-2">
          <h4>Activity:</h4>
        </div>
        <div formGroupName="skill" class="form-group">
          <div class="d-inline-block" style="width:120px">
            <label class="" for="inlineFormCustomSelectPref ">Choose Skill:</label>
          </div>
          <div class="d-inline-block" style="width: 150px">
            <select (change)="this.clearMembers(i)" formControlName="id" class="custom-select"
              id="inlineFormCustomSelectPref ">
              <option *ngFor="let skill of skills" [value]="skill.id">{{skill.skill}}</option>
            </select>
          </div>
        </div>

        <!-- SHOW SELECTED SKILL FOR TESTING PURPOSES -->
        <div class="form-group">
          <div class="d-inline-block" style="width:120px">
            <label for="inlineFormInputName2 ">Hours:</label>
          </div>
          <div class="d-inline-block" style="width: 150px">
            <input style="width: 150px; " min="0 " type="number " class="form-control" id="inlineFormInputName2 "
              placeholder="add a number" formControlName="hours">
          </div>
        </div>

        <div>
          <button class="btn btn-outline-danger mr-2" (click)="removeActivity(i)">Remove Activity</button>
          <button class="btn btn-outline-success ml-2" (click)="addMember(i)">Add member</button>
        </div>

        <div class="d-flex justify-content-start flex-wrap" formArrayName="members">
          <div *ngFor="let member of membersArray(i); let j = index" [formGroupName]="j" class="border rounded m-3 p-3">
            <div class="d-flex mb-2">
              <h4>Member:</h4>
              <button class="btn btn-outline-danger ml-auto" (click)="removeMember(i,j)">Remove</button>
            </div>
            <div class="form-group" [formGroup]="member.controls.user">
              <div class="d-inline-block" style="width:120px">
                <label for="inlineFormCustomSelectPref ">Choose:</label>
              </div>
              <div class="d-inline-block" style="width:200px">
                <select (change)="calculateUserHours($event.target.value)" formControlName="id" class="custom-select"
                  id="inlineFormCustomSelectPref ">
                  <option *ngFor="let employee of filterEmployeesBySkill(i)" [value]="employee.id">
                    {{ employee.firstName }} {{ employee.surname }}</option>
                </select>
              </div>
            </div>
            <!-- ADDING AVAILABLE HOURS DIV -->
            <div *ngIf="this.getFreeHours(member.controls.user) !== null" class="mb-2">
              <span>Available hours: {{ this.getFreeHours(member.controls.user) }}</span>
            </div>
            <div class="form-group">
              <div class="d-inline-block" style="width:120px">
                <label for="inlineFormInputName2 ">Hours:</label>
              </div>
              <div class="d-inline-block" style="width:120px">
                <input formControlName="hours" style="width: 120px; " min="0 " type="number " class="form-control"
                  id="inlineFormInputName2 " placeholder="number">
              </div>
            </div>

            <div *ngIf="this.checkTooManyHours(member)" class="mb-2">
              <b class="text-danger">Not enough free hours!</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <button class="btn btn-outline-success my-2 my-sm-0 " [routerLink]=" [ '/projects'] ">Cancel</button>
      <button *ngIf="!this.paramId" style="margin-left: 20px; " class="btn btn-outline-success my-2 my-sm-0 "
        type="submit" [disabled]="this.createProjectForm.invalid" (click)="createProject()">Create
        Project</button>
      <button *ngIf="this.paramId" style="margin-left: 20px; " class="btn btn-outline-success my-2 my-sm-0 "
        type="submit" [disabled]="this.createProjectForm.invalid" (click)="editProject()">Save
        Project</button>
    </div>

    <!-- FORM END -->
  </form>

</div>