<div class="cotainer-fluid">
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">All Projects:
      </h5>
      <form class="form-inline my-2 my-lg-0">
        <input [(ngModel)]="this.keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
          aria-label="Search" name="search" с>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="resetFilter()">
            Projects Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="setToKeyword()">by Keyword</a>
            <a class="dropdown-item" (click)="setToStatus()">by Status</a>
            <a class="dropdown-item" (click)="setToSkill()">by Skill</a>
            <a class="dropdown-item" (click)="setToOwner()">my Projects</a>
          </div>
        </div>
        <button [disabled]="this.loggedUserCurrentHours >= 8" style="margin-left: 4px;"
          class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]=" ['/projects/new'] ">Create
          Project</button>
      </form>
    </div>
  </div>

  <div *ngIf="this.loggedUserCurrentHours >= 8">
    <p class="error-message">You do not have available hours to manage a new project at this time!</p>
  </div>

  <div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name:</th>
          <th scope="col">Description:</th>
          <th scope="col">status:</th>
          <th scope="col">startedOn:</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of this.filterProjectsByKeyword; let i = index">
          <td> {{ project.name }} </td>
          <td> {{ project.description }} </td>
          <td> {{ project.status }} </td>
          <td> {{ project.startDate }} </td>
          <td><button
              *ngIf="project.activities[0].members[0] && this.loggedUserId === project.activities[0].members[0].user.id"
              class="btn btn-outline-success my-2 my-sm-0" type="submit"
              [routerLink]="['/projects/new', this.project.id]">Edit</button></td>
          <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit"
              [routerLink]="['/projects', this.project.id]">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>