<div class="container-fluid" *ngIf="allSkills">
  <app-add-skill [skillsList]="allSkills" (createSkillEmitter)="createSkill($event)"></app-add-skill>
  <app-all-skills [skillsList]="allSkills"></app-all-skills>
</div>