<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Employee Filter
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <div>
      <input #searchInput type="text" class="form-control" placeholder="Type here to search"
        (input)="onSearchInput(searchInput.value)">
    </div>

    <a class="dropdown-item" (click)="this.onFilterClick('All Employees')">All Employees</a>
    <a class="dropdown-item" (click)="this.onFilterClick('All Managers')">All Managers</a>
    <a class="dropdown-item" (click)="this.onFilterClick('My Subordinates')">My Subordinates</a>
  </div>
</div>