<h1 class="mainTitle">projectFlow</h1>
<div class="col-md-3 col-md-offset-4" id="login">
  <section id="inner-wrapper" class="login">
    <article>
      <form [formGroup]="this.userCredentialsForm">
        <div class="form-group">
          <div class="input-group col-sm-7 ml-5">
            <span class="input-group-addon"><i class="fas fa-envelope-square"></i></span>
            <input #emailInput type="email" class="form-control" placeholder="Email Address" formControlName="email">
            <div *ngIf="this.userCredentialsForm.controls.email.dirty && 
                        this.userCredentialsForm.controls.email.errors?.required">
              <p>The email input field is required!</p>
            </div>
            <div *ngIf="this.isFormSubmitted && 
                        this.userCredentialsForm.controls.email.dirty && 
                        this.userCredentialsForm.controls.email.errors?.minlength">
              <p>The email should be at least 5 characters!</p>
            </div>
            <div *ngIf="this.isFormSubmitted &&
                        this.userCredentialsForm.controls.email.dirty && 
                        this.userCredentialsForm.controls.email.errors?.maxlength">
              <p>The email should be maximum 50 characters long!</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-sm-7 ml-5">
            <span class="input-group-addon"><i class="fa fa-key"> </i></span>
            <input #passwordInput type="password" class="form-control" placeholder="Password"
              formControlName="password">
            <div *ngIf="this.userCredentialsForm.controls.password.dirty && 
                        this.userCredentialsForm.controls.password.errors?.required">
              <p>The password input field is required!</p>
            </div>
            <div *ngIf="this.isFormSubmitted && 
                        this.userCredentialsForm.controls.password.dirty && 
                        this.userCredentialsForm.controls.password.errors?.minlength">
              <p>The password should be at least 5 characters!</p>
            </div>
            <div *ngIf="this.isFormSubmitted &&
                        this.userCredentialsForm.controls.password.dirty && 
                        this.userCredentialsForm.controls.password.errors?.maxlength">
              <p>The password should be maximum 30 characters long!</p>
            </div>
          </div>
        </div>
        <div class="form-group row col-sm-6 my-1 mx-auto">
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
            (click)="this.login(emailInput.value, passwordInput.value)" (click)="emailInput.value = ''"
            (click)="passwordInput.value = ''"
            [disabled]="this.isFormSubmitted && this.userCredentialsForm.invalid">Login</button>
        </div>
      </form>
    </article>
  </section>
</div>