<footer class="page-footer bg-dark">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p>Powered by:</p>
    <span>Georgi Tsvetkov</span> &nbsp;
    <span>&</span> &nbsp;
    <span>Kristiyan Kolev</span>
  </div>
</footer>