<div class="container-fluid" *ngIf="this.employeeForm">

  <form [formGroup]="this.employeeForm">

    <!-- First Name -->

    <div class="row ml-3 my-3">
      <div class="col-6">
        <div class="gorm-group">
          <label class="sr-only">First Name:</label>
          <input type="text" placeholder="First Name" formControlName="firstName">
        </div>
      </div>
    </div>

    <!-- Surname -->

    <div class="row ml-3 my-3">
      <div class="col-6">
        <div class="gorm-group">
          <label class="sr-only">Surname:</label>
          <input type="text" placeholder="Surname" formControlName="surname">
        </div>
      </div>
    </div>

    <!-- Position -->

    <div class="row ml-3 my-3">
      <div class="col-6">
        <div class="gorm-group">
          <label class="sr-only">Position:</label>
          <input type="text" placeholder="Position" formControlName="position">
        </div>
      </div>
    </div>

    <!-- Email Address -->

    <div class="row ml-3 my-3" *ngIf="!this.formId">
      <div class="col-6">
        <div class="gorm-group">
          <label class="sr-only">Email Address:</label>
          <input type="text" placeholder="Email Address" formControlName="email">
        </div>
      </div>
    </div>

    <!-- Password -->

    <div class="row ml-3 my-3" *ngIf="!this.formId">
      <div class="col-6">
        <div class="gorm-group">
          <label class="sr-only">Password:</label>
          <input type="password" placeholder="Password" formControlName="password">
        </div>
      </div>
    </div>

    <br>

    <!-- Role -->

    <div class="row ml-3 my-1" *ngIf="!this.formId">
      <div class="col-1">
        <div class="form-group">
          <label for="role-label">Role:</label>
          <select formControlName="role" class="form-control form-control-sm" id="role-drop-down"
            (change)="clearSkills()">
            <option>BASIC</option>
            <option>MANAGER</option>
            <option>ADMIN</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Managed By -->

    <div *ngIf="!this.formId">
      <div class="row ml-3 my-1" *ngIf="this.employeeForm.controls['role'].value">
        <div class="col-1">
          <div class="form-group" formGroupName="managedBy">
            <label for="manager-label">Managed By:</label>
            <select formControlName="id" class="form-control form-control-sm" id="manager-drop-down">
              <option *ngIf="this.employeeForm.controls['role'].value !== 'BASIC'">
                Self-Managed
              </option>
              <option *ngFor="let manager of this.managersList" [value]="manager.id">{{manager.firstName}}
                {{manager.surname}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- Skills Array  -->

    <div *ngIf="!this.formId; else editEmployeeBlock">
      <button *ngIf="this.employeeForm.controls['role'].value === 'BASIC'" type="button" style="margin-left: 30px;"
        class="btn btn-outline-success my-3" (click)="addSkill()">Add Skill</button>

      <div class="row ml-4" formArrayName="skills">
        <div class="row" *ngFor=" let group of skillsArray.controls; let i = index" [formGroupName]="i">
          <div class="col-10">
            <div class="form-group">
              <label class="sr-only" for="add-skills-label">Add Skills</label>
              <select formControlName="id" class="form-control" id="skills-drop-down">
                <option *ngFor="let skill of basicSkillsList" [value]="skill.id">{{skill.skill}}</option>
              </select>
            </div>
          </div>
          <button type="button" class="ml-3 btn btn-outline-danger mb-5" (click)="removeSkill(i)">remove
            skill</button>
        </div>
      </div>
    </div>

    <div class="row">
      <ng-template #editEmployeeBlock>
        <div class="col-2">
          <h5 class="ml-4 mt-2">Employee Skills:</h5>

          <ul class="list-group card-body ml-4">
            <li class="list-group-item" *ngFor="let skill of employeeDetails.skills">{{skill.skill}}</li>
          </ul>

        </div>
        <button type="button" class="btn btn-outline-success mt-2 ml-4 mb-3" (click)="addSkill()">Add Skill</button>

        <div class="row" formArrayName="skills">
          <div class="row" *ngFor=" let group of skillsArray.controls; let i = index" [formGroupName]="i">
            <div class="col-10 ml-5">
              <div class="form-group">
                <label class="sr-only" for="add-skills-label">Add Skills</label>
                <select formControlName="id" class="form-control" id="skills-drop-down">
                  <option *ngFor="let skill of filterSkills(this.employeeDetails.skills)" [value]="skill.id">
                    {{skill.skill}}
                  </option>
                </select>
              </div>
            </div>
            <button type="button" class="btn btn-outline-danger ml-5 mb-3" (click)="removeSkill(i)">remove
              skill</button>
          </div>
        </div>
      </ng-template>
    </div>
    <br>

    <!-- Buttons -->

    <button type="button" class="btn btn-outline-success my-2 my-sm-0 ml-4" [routerLink]="'/employees'">Cancel</button>
    &nbsp;

    <button *ngIf="!this.formId" type="button" class="btn btn-outline-success my-2 my-sm-0"
      (click)="registerNewEmployee(employeeForm.value)">Submit</button>
    <button *ngIf="this.formId" type="button" class="btn btn-outline-success my-2 my-sm-0"
      (click)="updateEmployee(employeeForm.value)">Save</button>

  </form>

</div>