<div class="container-fluid" *ngIf="employeesList">
  <div class="ml-3 mt-4">
    <app-employee-filter (filterEmitter)="this.filterEmployees($event)"></app-employee-filter>
  </div>
  <button *ngIf="loggedUserData.role === 'ADMIN'" type="button" class="ml-3 btn btn-outline-success mt-3"
    [routerLink]="'/employees/form'">
    Register Employee
  </button>
  <div class="my-4">
    <app-all-employees [loggedUser]="loggedUserData" [employees]="employeesList" [header]="filterKeyword">
    </app-all-employees>
  </div>
</div>